[core]
  editor = code --wait
[user]
  email = andrei@borisov.dev
  name = Andrei Borisov
[init]
  defaultBranch = main
[diff "plist"]
  textconv = plutil -convert xml1 -o -
[diff "scpt"]
  binary = true
  textconv = osadecompile
[merge]
  tool = smerge
[mergetool "smerge"]
  cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
  trustExitCode = true
